/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
  .wrap-padding {
    padding: 0;
  }
}

/*********************
UPCOMING CONCERTS
*********************/
.upcoming  {
  //padding: 0 10% 0 5%;

}

.news-item {
  //width: 100%;
  &:nth-child(odd) {
    //margin-right: 0;
  }
}


section#intro {
  h1{

    img {

    }
  }
  nav {
    max-width: 950px;
    width:95%;

    > ul li:before {
      font-size: 12px;
      margin-top: 4em;
    }
    .nav {
      font-size: 32px;
    }
    .nav li a {

      &:hover {

      }
    }

  }
}

a.go-top {

  svg {
    @include scale(1);

  }

}

section#intro {
  .logo{

    img {
      width: 200px;

    }
  }
  .short-profile {
      margin: 20px auto;
      font-size: 16px;
      line-height: inherit;

  }
  #scrolldownHome {
      @include scale(1);
  }
  nav.main-nav {
    width: 1000px;

    > ul li:before {
      font-size: 12px;
      margin-top: 4em;
    }
    .top-nav {
      font-size: 32px;
    }
    .nav li a {

      &:hover {

      }
    }

  }
}

.top-nav {
  font-size: 20px;
}

/*********************
FEATURE SLIDER
*********************/
#feature-slider {
  height: 360px;

  .slide-item {
    height: 360px;
    position: relative;
    .slide-bg {

    }
    .slide-content {
      padding: 20px 100px;
      width: 600px;
      h1 {
          font-size: 2em;
          // margin: 0.67em 0;
          margin-top: 10px;
          .subtitle {
                margin-bottom: 10px;

          }
      }
    }


  }



}



/*********************
UPCOMING CONCERTS
*********************/
.upcoming  {

  .overview-holder-carousel {


  }

  .overview-holder {

  }
  div.overview {
    width: 24%;
    display: inline-block;


    header {

      .date_time {

      }
      .location {

         .country {
        }
      }
    }

    section {
      .thumb {

        img {

        }
      }
      .title {

      }
    }



    .description {


      .detail {

      }

    }



  }
  footer {

    .specials {
      margin-top: 50px;
      .category-filter {
        margin: 10px;
        width: 276px;
      }
    }

  }


}

.news-holder {
  h3 {

  }
  .banner {
    img {
      width: 276px;
    }
  }
}