/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
body {
	font-size: 14px;

}
.row-header {
	margin-top: 1.5em;
	font-size: 28px;
}
section#intro {


	.content {

	}
	.wrapper {

	}
	.roles {
		font-size: 32px;
		line-height: 70px;
		height: 70px;
		padding: 10px;
	}
	.short-profile {
		display: block;
		font-size: 14px;


	}
	.logo {

		img {
			width: 150px;
		}
	}
	#scrolldownHome {
		@include scale(0.8);
	}

	nav {
		display: block;

		> ul li:before {

		}
		.nav {
		}
		.nav {
			li {
				a {

					&:hover {
					}
				}
			}
		}

	}

}
a.go-top {

	svg {
		@include scale(0.8);

	}

}

/*********************
SLICK SLIDER
*********************/
.slick-slider {
}
.slick-next, .slick-prev {
	@include transform(translate3d(0,-50%,0) scale(1));
}
.slick-dots {
	visibility: visible;
}

/*********************
EVENT CALENDAR
*********************/
.eventCalendar-wrap .arrow {
}
.eventsCalendar-currentTitle .monthTitle {
	font-size: 24px;
}
.eventsCalendar-daysList {
	display: table;
}
/*********************
UPCOMING CONCERTS
*********************/
.upcoming  {
	padding: 0 10%;

	.overview-holder-carousel {

		.slick-next { }
		.slick-prev {}
		.slick-list {
		}
	}

	.overview-holder {

	}
	div.overview {
  		// height: 331px;


  		&.slick-active {
  		}

		article {
		}
		header {

			.date_time {

	 		}
	 		.location {

				 .country {

				}
	 		}
		}

		section {
	 		.thumb {

				img {

				}
	 		}
	 		.title {

			}
		}



		.description {

			.detail {

			}

		}

		&:hover {
			.description {
			}
			.thumb, .title {
			}
		}

	}
	footer {

		.category {
			span {
			}
		}
		.specials {

			.category-filter {

				width: 200px;
				
				.title {
					h3 {
						font-size: 1.4em;
					}
				}			
			}

		}

	}


}


.news-holder {
	.banner {
		img {
			width: 180px;
		}
	}
}

.news-item {
	height: 270px;
	margin: 0;
	margin-bottom: 10px;
	&:nth-child(even) {
		border-right: none;
	}
	header {
	 	.title {
	 	}
	 	.date {

	 	}
		.category {

		}
	}
	&:nth-child(odd) {
		//margin-right: 4%;
	}
	&:last-child {
		border-right: 1px solid $border-color;
	}
	section {
		.excerpt-read-more {

		}
	}
}


section#about {


	.row-header {
		font-size: 28px;

		&.pause {
		}
	}
	.wrap {

		.wrap-inner {
			padding: 100px;
		}
		&.pause {

		}
	}

	#about_bcj_1 {
		h2 {
			// font-size: 20px;
		}

		&.focus {
		}

	}
	#about_bcj_2 {


		&.focus {

		}


	}
	#about_bcj_3 {


		p {


			&.first {

			}
			&.second {
			}
			&.third {
			}
		}

		&.focus p {
		}
	}
	#about_bcj_4 {

		&.focus {
		}
	}
	#about_bcj_5 {

		&.focus {
		}
	}
	.overlay {

		&.focus {
		}
	}
	.cd-holder-carousel {

		.slick-slide {

		}
		.slick-prev, .slick-next {
		}
		.slick-next {  }
		.slick-prev {  }
	}
	.cd-holder {

		.arrow-left {

		}
		.arrow-right {

		}
		.cd-holder-inner {

		}
		ul {

			li {

				img {


				}
			}
		}
	}

}


section#support {

	.wrap {

		.wrap-inner {
			padding: 100px;
		}
	}
	#support_bcj_1 {

		&.focus {
		}
	}
	.overlay {

		&.focus {
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

.nav {}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

#lang_sel_list {

	ul {
		li {
			a, a:visited {
				font-size: 16px;
				margin: 0.75em 0.2em;
				&.lang_sel_sel {
				}
			}
		}
	}
}
/*********************
HEADER STYLES
*********************/

.header {
	padding-top: 35px;
	padding-bottom: 20px;
	a {
	}
	img, svg, object {

		}
}

/*********************
FEATURE SLIDER
*********************/
#feature-slider {
	height: 280px;

	.slide-item {
		height: 280px;

		.slide-bg {

		}
		.slide-content {
			padding: 10px 50px;
			width: 400px;
			font-size: 1em;
			&.overlay {
			}
			h1 {
				font-size: 2em;
				// margin: 0.3em 0;
			}
			img.divider {
				@include transform(scale(1));
			}
		}
		.slide-overlay {

		}

	}


	.feature-nav {

		&.prev {
		}
		&.next {
		}
	}
	&:hover {
		.feature-nav {
		}
		.slick-prev, .slick-next {
		}
	}
	.slick-list {
	}
	.slick-prev, .slick-next {

	}
	.slide-item.slick-active  {
		.slide-content {
		}
		.slide-overlay {
		}
	}




}
/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

